@use "../abstract/var";
@use "../abstract/bp";
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @include bp.mediaQuery(big-desk) {
    font-size: 75%; //12px
  }

  @include bp.mediaQuery(tab-land) {
    font-size: 56%; //9px
  }

  @include bp.mediaQuery(tab-port) {
    font-size: 50%; //8px
  }
  @include bp.mediaQuery(mobile) {
    font-size: 43%; //7px
  }

  @include bp.mediaQuery(mob-small) {
    font-size: 37%; //6px
  }
}

body {
  background-image: linear-gradient(
    to right bottom,
    var.$color-primary-light,
    var.$color-primary-dark
  );
  background-size: cover;
  background-repeat: no-repeat;

  padding: 1.6rem;
}
