@use "../abstract/" as abs;
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @include abs.mediaQuery(big-desk) {
    font-size: 75%; //12px
  }

  @include abs.mediaQuery(tab-land) {
    font-size: 56%; //9px
  }

  @include abs.mediaQuery(tab-port) {
    font-size: 50%; //8px
  }
  @include abs.mediaQuery(mobile) {
    font-size: 43%; //7px
  }

  @include abs.mediaQuery(mob-small) {
    font-size: 37%; //6px
  }
}

body {
  // background-image: linear-gradient(
  //   to right bottom,
  //   abs.$color-primary-light,
  //   abs.$color-primary-dark
  // );
  // background-size: cover;
  // background-repeat: no-repeat;

  padding: 1.6rem;
}
