// ALL CSS CONTENT PAGE DESIGN TABLE
@use '../abstract/' as abs;
@use '../base/' as base;
@use '../layout/' as layout;

.content__page--container {
	main section article {
		padding: 0 5rem;

		@include abs.mq(sm) {
			padding: 0 2rem;
		}

		@include abs.mq(xs) {
			padding: 0 0.3rem;
		}

		.account__holder {
			@include abs.mq(xs) {
				font-size: 1.3rem;
			}
		}
	}
}
#acc__btn--show {
	margin-left: 5rem;
	padding: 0.6rem 1.4rem;
	font-size: 2rem;
	font-weight: 600;
	text-transform: uppercase;
	border: 2px solid red;
	border-radius: 1rem;
	background-color: #eecece;
	color: black;
	transition: all 0.4s;
	cursor: pointer;

	@include abs.mq(sm) {
		margin-left: 2rem;
		font-size: 1.4rem;
	}
	@include abs.mq(xs) {
		margin-left: 1rem;
		font-size: 1.1rem;
	}

	&:hover {
		background-color: #716060;
		color: #ffffff;
		border-radius: 0;
	}
}
.password-match {
	font-size: 2.9rem;
	font-weight: 900;
	color: #fff;
	background-color: green;
	padding: 0.5rem 0.9rem;
	border-radius: 1rem;
}
.invalid-password {
	color: red;
	font-weight: 600;
	text-transform: uppercase;
	margin-left: 13rem;
}
.retry__password--btn {
	margin-left: 5rem;
	padding: 0.7rem 1.8rem;
	text-transform: uppercase;
	font-size: 1.9rem;
	font-weight: 600;
	background-color: red;
	color: white;
	border: 2px solid green;
	border-radius: 1rem;
	transition: all 0.4s;
	cursor: pointer;

	&:hover {
		background-color: #7c0000;
		border-radius: 0;
	}
}
