@use '../abstract/' as abs;
@use '../base/' as base;
@use '../layout/' as layout;

.content__page--container {
	.nav--container {
		.main__header--01 {
			font-size: 5rem;

			@include abs.mq(xxl) {
				font-size: 6.5rem;
			}

			@include abs.mq(xl) {
				font-size: 4rem;
			}
			@include abs.mq(lg) {
				font-size: 3rem;
			}
			@include abs.mq(md) {
				font-size: 2rem;
			}
			@include abs.mq(sm) {
				font-size: 1.6rem;
				letter-spacing: -1px;
			}
			@include abs.mq(xs) {
				font-size: 1.1rem;
			}
		}
	}
	.sticky__nav--container {
		@include abs.mediaQuery(tab-land) {
			:nth-child(2) {
				span {
					font-size: 1.5rem;
				}
			}
		}
		// @include abs.mediaQuery(tab-port) {
		// 	.post__navigation__container button,
		// 	button,
		// 	button a {
		// 		display: flex;
		// 		flex-direction: column;
		// 		justify-content: center;

		// 		span {
		// 			margin-top: -1rem;
		// 			line-height: 1.9rem;
		// 			font-size: 1.3rem;
		// 			padding-left: 0;
		// 			padding-right: 0;
		// 		}

		// 		svg {
		// 			height: 5rem;
		// 			width: 100%;
		// 			margin: 1.6rem 0;
		// 		}
		// 	}

		// 	:nth-child(2),
		// 	:nth-child(3) {
		// 		span {
		// 			order: 1;
		// 			font-size: 1.4rem;
		// 		}
		// 		svg {
		// 			order: 2;
		// 		}
		// 	}
		// }
	}
}
