// ALL CSS CONTENT PAGE DESIGN TABLE
@use "../layout/" as layout;
@use "../abstract/" as abs;

// CONTENT - 01 : GRID
.content-page-container {
  .content-page-content-indexes {
    header {
      @include abs.mediaQuery(tab-land) {
        font-size: 5rem;
      }
      @include abs.mediaQuery(tab-port) {
        font-size: 4rem;
      }
      @include abs.mediaQuery(mobile) {
        font-size: 3rem;
        padding-left: 0;
      }
    }

    .section {
      @include abs.mediaQuery(tab-port) {
        justify-self: start;
        font-size: 3rem;
        padding-left: 9.5rem;
      }
      @include abs.mediaQuery(mobile) {
        justify-self: start;
        padding-left: 2rem;
        margin-bottom: 15rem;
      }
    }
    .indexes {
      a {
        @include abs.mediaQuery(mobile) {
          margin: 2rem 0;
          padding-left: 2rem;
        }
      }
    }
  }
  .content-page-main {
    .content-page-section {
      .content {
        @include abs.mediaQuery(tab-land) {
          margin-left: 0;
          padding-left: 0;
          padding-right: 0;
          line-height: 6.2rem;
        }

        .code-explain {
          @include abs.mediaQuery(tab-land) {
            padding: 1rem 0.2rem;
            margin-left: 0;
            margin-top: 4rem;
            line-height: 8rem;
          }
          &::after {
            @include abs.mediaQuery(tab-port) {
              display: none;
            }
          }
        }
      }
    }
  }
  nav {
    ul {
      @include abs.mediaQuery(tab-land) {
        grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
      }

      @include abs.mediaQuery(tab-port) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include abs.mediaQuery(mobile) {
        grid-template-columns: 1fr;
        grid-row-gap: 3rem;
      }
    }
  }
}
