// ALL git CONTENT PAGE DESIGN TABLE
@use "../layout/" as layout;
@use "../abstract/" as abs;
@use "../component/" as comp;

// CONTENT - 01 : git fundamental
.content-page-container {
  .nav {
    .main-header-01 {
      padding-left: 0;
      font-size: 4rem;

      @include abs.mediaQuery(tab-land) {
        font-size: 3.1rem;
      }

      @include abs.mediaQuery(tab-port) {
        padding-left: 0;
        font-size: 2rem;
      }

      @include abs.mediaQuery(mobile) {
        font-size: 1.3rem;
      }

      @include abs.mediaQuery(mob-small) {
        font-size: 1.5rem;
      }
    }

    svg {
      @include abs.mediaQuery(tab-land) {
        justify-self: end;
      }
    }

    .section {
      @include abs.mediaQuery(tab-land) {
        margin-left: 4rem;
        margin-bottom: 5rem;
      }

      @include abs.mediaQuery(tab-port) {
        margin-left: 2rem;
        font-size: 4.2rem;
      }

      @include abs.mediaQuery(mobile) {
        font-size: 4rem;
        margin-bottom: 0;
      }
    }

    .indexes {
      @include abs.mediaQuery(mobile) {
        justify-content: space-evenly;
      }

      a {
        @include abs.mediaQuery(tab-land) {
          padding-left: 4rem;
        }

        @include abs.mediaQuery(tab-port) {
          padding-left: 2rem;
        }
      }
    }
  }

  main {
    section {
      .content-area {
        @include abs.mediaQuery(tab-port) {
          margin-left: 1rem;
          padding: 1.1rem;
        }

        .code-explain {
          @include abs.mediaQuery(tab-port) {
            margin-left: 0;
            padding: 0;
          }
        }
      }
    }
  }
}

// CONTENT :: 02 - MERGE
.content-page-container {
  .nav {
    .main-header-02 {
      font-size: 3.9rem;
      padding: 0;

      @include abs.mediaQuery(tab-land) {
        font-size: 3.5rem;
      }

      @include abs.mediaQuery(tab-port) {
        font-size: 2.3rem;
      }

      @include abs.mediaQuery(mobile) {
        font-size: 1.8rem;
      }

      @include abs.mediaQuery(mob-small) {
        font-size: 1.3rem;
      }
    }
  }
}

// CONTENT :: 03 : DIFF
.content-page-container {
  .nav {
    .main-header-03 {
      font-size: 5rem;
      padding: 0;

      @include abs.mediaQuery(tab-land) {
        font-size: 4.6rem;
      }

      @include abs.mediaQuery(tab-port) {
        font-size: 3.3rem;
      }

      @include abs.mediaQuery(mobile) {
        font-size: 2.4rem;
      }

      @include abs.mediaQuery(mob-small) {
        font-size: 1.9rem;
      }
    }

    .indexes-03 {
      grid-column: 1 / -1;

      a {
        padding-right: 2rem;

        &:nth-child(4) {
          margin-left: 0;

          &::after {
            width: 4rem;
            transform: translateX(-3rem);
          }
        }
      }

    }
  }
}
