@use '../layout/' as layout;
@use '../abstract/' as abs;

// CONTENT - 01 : git fundamental
.content-page__container {
	.nav__container {
		.main-header-01 {
			font-size: 7rem;

			@include abs.mediaQuery(tab-land) {
				font-size: 6rem;
			}

			@include abs.mediaQuery(tab-port) {
				font-size: 5rem;
			}

			@include abs.mediaQuery(mobile) {
				font-size: 4rem;
			}

			@include abs.mediaQuery(mob-small) {
				font-size: 4.7rem;
			}
		}
		///////////
		/// second page
		.main-header-02 {
			font-size: 6em;

			@include abs.mediaQuery(tab-land) {
				font-size: 5rem;
			}

			@include abs.mediaQuery(tab-port) {
				font-size: 3.4rem;
				letter-spacing: 0rem;
				word-spacing: 0rem;
			}

			@include abs.mediaQuery(mobile) {
				font-size: 2.8rem;
			}

			@include abs.mediaQuery(mob-small) {
				font-size: 3rem;
			}
		}

		///////////
		/// THIRD PAGE
		.main-header-03 {
			font-size: 8rem;
			padding: 0;

			@include abs.mediaQuery(tab-land) {
				font-size: 6.5rem;
			}

			@include abs.mediaQuery(tab-port) {
				font-size: 5rem;
			}

			@include abs.mediaQuery(mobile) {
				font-size: 4rem;
			}

			@include abs.mediaQuery(mob-small) {
				font-size: 4.5rem;
			}
		}

		.indexes-03 {
			grid-column: 1 / -1;

			a {
				padding-right: 3rem;
				position: relative;

				&:nth-child(4) {
					&:hover {
						transform: scaleX(0.92);
					}
					span {
						letter-spacing: 0;
					}
					&::after {
						position: absolute;
						right: 0;
						bottom: 0;
					}
				}
			}
		}

		////////////
		/// FOUR PAGE
		.main-header-04 {
			font-size: 6rem;

			@include abs.mediaQuery(tab-land) {
				font-size: 5rem;
			}

			@include abs.mediaQuery(tab-port) {
				font-size: 3.5rem;
			}

			@include abs.mediaQuery(mobile) {
				font-size: 3.1rem;
			}

			@include abs.mediaQuery(mob-small) {
				font-size: 3.6rem;
			}
		}

		//////////////
		/// FIVE PAGE
		.main-header-05 {
			font-size: 7rem;

			@include abs.mediaQuery(tab-land) {
				font-size: 5.5rem;
			}

			@include abs.mediaQuery(tab-port) {
				font-size: 4rem;
			}

			@include abs.mediaQuery(mobile) {
				font-size: 3.5rem;
			}

			@include abs.mediaQuery(mob-small) {
				font-size: 4rem;
			}
		}
	}
}
