@use "../abstract/" as abs;

// nav btn
#nav__btn--home,
#nav__btn__container--content {
	height: auto;
	width: auto;
	display: none;
	top: 22;
	left: 0;
	z-index: 200;
	border: none;
	cursor: pointer;
	border-radius: 50%;
	transform: translateX(-2.6rem) translateY(-3rem) scale(1.1);
	background-color: transparent;

	&:focus {
		outline: none;
	}
}
#nav__btn--home {
	svg {
		@include abs.svg-size(8, 8, var(--color-secondary-400));
	}
}

#nav__btn__container--content {
	svg {
		@include abs.svg-size(8, 8, var(--color-accent-900));
	}
}

////////////////
// CONTENT PAGE
.content__page--container {
	// SIDE-NAV BTN
	.nav__btn__off--icon {
		transform: rotate(180deg);
	}
	main {
		// BOTTOM FLOAT NAV BTN
		.float__btn--container {
			box-sizing: content-box;
			height: 4rem;
			position: fixed;
			font-weight: 900;
			@include abs.border(5, --color-secondary-100);
			background-color: var(--color-secondary-300);
			transition: all 0.2s ease-in-out;
			transform: translateX(200rem);
			z-index: 100;
			@extend %center-me-full;

			@include abs.mq(md) {
				border-radius: 1rem;
			}

			&:active,
			&:focus {
				transform: scale(0.8);
			}

			a:link,
			a:visited {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				text-decoration: none;
				z-index: 1;
				color: var(--color-accent-900);

				svg {
					@include abs.svg-size(2, 2);
					margin-right: 0.5rem;
					align-self: center;

					@include abs.mediaQuery(mobile) {
						margin: 0;
					}
				}

				span {
					color: var(--color-accent-900);
					font-size: 1.3rem;
					font-family: var(--font-content-link);
					font-weight: 600;
					text-transform: uppercase;
					@extend %center-me-full;

					&:hover {
						animation-name: rainbowZoomIn;
						animation-delay: 0.1s;
						animation-duration: 3s;
						animation-iteration-count: infinite;
					}

					@include abs.mq(md) {
						display: none;
					}
				}
			}
		}

		#nav__top--btn {
			width: 10rem;
			bottom: 0.5rem;
			right: 1rem;

			@include abs.mq(md) {
				width: 5rem;
			}

			@include abs.mq(sm) {
				width: 3.4rem;
			}
		}

		#nav__bottom--btn {
			width: 10rem;
			bottom: 0.5rem;
			right: 12rem;

			@include abs.mq(md) {
				width: 5rem;
				right: 4em;
			}

			@include abs.mq(sm) {
				width: 3.4rem;
				right: 5.5rem;
			}
		}
		// MAGIC BTN
		.contentPage__magic-btn {
			svg {
				height: 6rem;
				width: 6rem;
				z-index: 5;
				position: fixed;
				top: 2rem;
				right: 2rem;
				display: block;
				border: none;
				fill: var(--color-accent-900);
				background: transparent;
				cursor: pointer;
				transform: translateX(100vh);
				transition: all 0.5s;

				@include abs.mq(md) {
					height: 4.5rem;
					width: 4.5rem;
				}

				@include abs.mq(sm) {
					top: 1rem;
					right: 1rem;
				}

				&:hover {
					fill: var(--color-accent-500);
				}

				&:active {
					transform: scale(0.95);
				}
			}
		}
	}
}
