@use '../abstract/' as abs;
////////////////
/// MAIN HOME PAGE
.main-home__container main .sideNav__Btn {
	border: 0;
	z-index: 5000;
	top: 2rem;
	left: 2rem;
	svg {
		height: 5rem;
		width: 5rem;
		position: absolute;

		border-radius: 50%;
		outline: 2px solid var(--color-accent-900);
		outline-offset: 1rem;
		cursor: pointer;
	}
}

////////////////
// CONTENT PAGE [3RD PAGE]
.content-page__container {
	.contentNav__btn {
		height: 10rem;
		width: 10rem;
		z-index: 200;
		border: 1px solid var(--color-accent-600);
		border-radius: 50%;
		background-color: transparent;
		cursor: pointer;
		svg {
			height: 4rem;
			width: 4rem;
			fill: var(--color-accent-900);
		}
	}
	main .float-btn__container {
		height: 4rem;
		position: fixed;
		box-sizing: content-box;
		font-weight: 900;
		border: 5px solid var(--color-secondary-100);
		background-color: var(--color-secondary-200);
		z-index: 10;
		transition: all 0.2s ease-in-out;
		transform: translateX(200rem);
		@extend %center-me-full;

		&::before {
			content: '';
			position: absolute;
			height: 100%;
			width: 0%;
			left: 0;
			top: 0;
			transition: all 0.5s;
			background-image: linear-gradient(
				to right,
				var(--color-primary-100),
				var(--color-secondary-500)
			);
		}

		&:hover::before {
			width: 100%;
		}

		&:active,
		&:focus {
			transform: scale(0.8);
		}

		a:link,
		a:visited {
			text-decoration: none;
			display: flex;
			z-index: 1;
			color: var(--color-accent-900);

			svg {
				height: 2rem;
				width: 2rem;
				fill: var(--color-accent-900);
				margin-right: 0.5rem;

				@include abs.mediaQuery(mobile) {
					height: 4rem;
					width: 4rem;
					fill: var(--color-accent-900);
					margin: 0;
				}
			}

			span {
				color: var(--color-accent-900);
				font-size: 1.3rem;
				font-family: var(--font-general);
				font-weight: 600;
				text-transform: uppercase;
				@extend %center-me-full;

				&:hover {
					animation-name: rainbowZoomIn;
					animation-delay: 0.1s;
					animation-duration: 3s;
					animation-iteration-count: infinite;
				}

				@include abs.mediaQuery(mobile) {
					font-size: 0;
				}
			}
		}

		@include abs.mediaQuery(mobile) {
			height: 5rem;
			width: 5rem;
			border-radius: 50%;
		}
	}
	.to-top-btn {
		width: 10rem;
		top: calc(100% - 8%);
		left: calc(100% - 12rem);
		right: 0;

		@include abs.mediaQuery(tab-land) {
			font-weight: 400;
		}

		@include abs.mediaQuery(mobile) {
			justify-content: center;
			height: 6rem;
			width: 6rem;
			top: calc(100% - 9%);
			left: calc(100% - 7.5rem);
		}
	}
	.to-bottom-btn {
		width: 10rem;
		top: calc(100% - 8%);
		left: calc(100% - 22rem);
		right: 0;

		@include abs.mediaQuery(tab-land) {
			font-weight: 400;
		}

		@include abs.mediaQuery(mobile) {
			top: calc(100% - 9%);
			left: calc(100% - 14.4rem);
			justify-content: center;
		}
	}
}
