@use '../abstract/' as abs;

///////////
/// MAIN HOME PAGE [1ST PAGE]
.main__home--container {
	position: relative;

	.main__home--header {
		// height: 100vh;
		// width: 100vw;
		// background-image: url('../../asset/gif/mainHomePrimaryHeader.gif');
		// background-size: cover;
		// background-repeat: repeat;
		// background-position: center;
		// clip-path: polygon(0 0, 100% 0, 100% 80%, 0 91%);

		video {
			object-fit: cover;
			width: 120vw;
			position: absolute;
			z-index: -1;
			// clip-path: polygon(0 0, 100% 0, 100% 60%, 0 76%);

			@include abs.mediaQuery(tab-land) {
				// clip-path: polygon(0 0, 100% 0, 100% 85%, 0 95%);
			}
		}

		span {
			height: 80vh;
			color: var(--color-black);
			text-transform: uppercase;
			text-shadow: -7px 7px 10px var(--color-secondary-500);
			font-size: 7.41rem;
			font-family: var(--font-primary);
			font-weight: 600;
			letter-spacing: -3;
			word-spacing: 1rem;
			display: table-cell;
			vertical-align: middle;
			z-index: 1;
			// @extend %center-me-full;

			// animation-name: moveAndJump;
			// animation-delay: 0.2s;
			// animation-duration: 3s;
			// animation-fill-mode: both;

			@include abs.mediaQuery(tab-land) {
				font-size: 6.3rem;
			}
			@include abs.mediaQuery(tab-port) {
				font-size: 5rem;
			}
			@include abs.mediaQuery(mobile) {
				font-size: 4rem;
			}
			@include abs.mediaQuery(mob-small) {
				font-size: 4.7rem;
			}
		}
	}

	.main__home__resource--container
		.main__home__resource--contents
		.main__home__resource--header
		h2 {
		margin: 5rem 0;
		transition: all 0.4s;
		color: var(--color-white);
		font-family: var(--font-primary);
		font-weight: 600;
		font-size: 8rem;
		letter-spacing: -2;
		text-transform: uppercase;
		text-align: center;
		transition: all 0.8s;
		height: 10rem;
		width: 100%;
		display: inline-block;
		text-align: center;
		@extend %center-me-vertical;

		&:hover {
			// background-color: var(--color-secondary-300);
		}

		&:active {
			transform: scale(0.9);
		}

		&:active {
			transform: translateY(2rem);
		}
	}
	span {
	}
}

/////////////
/// resource page [second page]
.resource-home-container .resource-home-header {
	grid-column: 1 / -1;
	background-color: var(--color-secondary);
	font-size: 3rem;
	padding: 1.6rem 2.3rem;
	border-radius: 10px 10px 0px 0px;
	text-transform: uppercase;
	letter-spacing: 0.6rem;
	@extend %center-me-full;

	@include abs.mediaQuery(mobile) {
		font-size: 2.2rem;
	}

	@include abs.mediaQuery(mob-small) {
		font-size: 1.6rem;
	}
}

//////////////
/// CONTENT PAGE [3RD PAGE]
.content__page--container {
	.nav--container {
		display: grid;
		grid-template-columns: 80% 20%;
		grid-template-rows: 10rem 8rem 1fr;
		gap: 3rem 0;

		@include abs.mediaQuery(tab-land) {
			grid-template-rows: 17rem 8rem 1fr;
		}

		@include abs.mediaQuery(mobile) {
			grid-template-rows: 17rem 8rem 1fr;
		}

		@include abs.mediaQuery(mob-small) {
			grid-template-rows: 17rem 8rem 1fr;
		}

		h1 {
			grid-column: 1 / -1;
			font-family: var(--font-primary);
			font-weight: 600;
			font-size: 8rem;
			text-transform: uppercase;
			letter-spacing: -2;
			word-spacing: 0.7rem;
			@extend %center-me-full;

			animation-name: rainbowZoomIn;
			animation-duration: 4s;
			animation-delay: 0.2s;
			animation-iteration-count: infinite;
			animation-direction: alternate-reverse;
		}

		svg {
			grid-column: 2 / 3;
			grid-row: 2 / 3;
			justify-self: center;
			height: 10rem;
			width: 10rem;
			fill: var(--color-accent-900);
			animation-name: slideToLeft;
			animation-duration: 2s;
			animation-delay: 0.2s;

			@include abs.mediaQuery(mobile) {
				height: 5rem;
				width: 5rem;
			}
		}

		.section {
			display: flex;
			align-items: flex-end;
			font-size: 5rem;
			font-family: var(--font-secondary);
			font-weight: 700;
			text-transform: uppercase;
			color: var(--color-accent-900);
			align-self: center;
			justify-self: start;
			margin-left: 10rem;
			margin-top: 3rem;
			letter-spacing: -2;
			font-style: italic;

			animation-name: slideToLeft;
			animation-duration: 2s;
			animation-delay: 0.2s;

			@include abs.mediaQuery(tab-land) {
				margin-left: 4rem;
				margin-bottom: 5rem;
			}

			@include abs.mediaQuery(tab-port) {
				margin-left: 1rem;
				font-size: 4.2rem;
			}

			@include abs.mediaQuery(mobile) {
				font-size: 4rem;
				margin-bottom: 0;
			}
		}

		.nav--indexes {
			grid-column: 1 / -1;
			display: flex;
			flex-wrap: wrap;

			@include abs.border(1, --color-accent-900);
			margin: 3rem;

			animation-name: slideToRight;
			animation-duration: 2s;
			animation-delay: 0.2s;

			@include abs.mediaQuery(mobile) {
				justify-content: space-evenly;
			}

			a:link {
				display: flex;
				align-items: center;
				justify-content: center;
				text-decoration: none;
				flex: 0 0 50%;
				font-size: 1.9rem;
				color: var(--color-accent-900);
				border: 1px solid black;
				text-align: center;
				transition: all 0.5s ease;

				&:active {
					transform: scale(0.9);
					color: var(--color-secondary-300);
					border: none;
				}

				&:last-of-type {
					border: none;
				}
				&:nth-of-type(even) {
					border-right: none;
					border-top: none;
				}
				&:nth-of-type(odd) {
					border-top: none;
					border-left: none;
				}
			}
			a:visited {
				color: var(--color-visited);
			}
		}
	}

	main section {
		h2 {
			position: relative;
			text-transform: uppercase;
			padding: 2.5rem 0;
			margin: 3rem 0;
			color: var(--color-accent-900);
			background-color: var(--color-secondary-200);
			transition: transform 0.7s ease-in-out;
			font-family: var(--font-secondary);
			font-weight: 700;
			letter-spacing: -1;
			@extend %center-me-full;

			animation-name: slideToLeft;
			animation-duration: 4s;
			animation-delay: 0.1s;

			@include abs.mediaQuery(mobile) {
				letter-spacing: 0;
			}
		}
	}
	.content__area--container h3 {
		display: block;
		font-family: var(--font-tertiary);
		font-weight: 600;
		line-height: 2.6rem;
		padding: 1rem 5rem;
		letter-spacing: -1;
		margin: 1rem 0 2.2rem 0;
		-webkit-background-clip: text;
		background-clip: text;
		background-image: linear-gradient(
			to right bottom,
			var(--color-secondary-200),
			var(--color-accent-900)
		);
		color: transparent;
		@extend .util-margin-bottom;

		@include abs.mediaQuery(tab-port) {
			display: block !important;
			text-align: center !important;
		}

		@include abs.mediaQuery(tab-land) {
			margin-bottom: 5rem !important;
		}

		@include abs.mediaQuery(mobile) {
			padding: 1rem 2.8rem;
		}
	}
}
