@use '../abstract/' as abs;

.content-page__container {
	main section .content__post .list-wrap__container {
		display: block;
		margin-left: 3rem;

		&:not(:last-child) {
			margin-bottom: 4rem;
		}

		.list {
			padding-left: 2rem;
			line-height: 3;
		}
	}
}
