@use "../abstract/" as abs;

.mainhome {
	&__main {
		.mainhome__section {
			border: 2px solid var(--color-secondary-700);
			margin: 1rem;
			padding: 2rem 4rem;
			border-radius: 1.2rem;

			@extend %card-gradient-bg;

			.list {
				list-style: none;
				&__item {
					height: 30vh;
					position: relative;
					overflow-y: scroll;
					border: 2px solid var(--color-secondary-600);
					border-radius: 1rem;
					margin-bottom: 5vh;

					// chrome sxroll bar
					@extend %chrome-custom-scrollbar;

					.content__header {
						font-size: 3rem;
						text-align: center;
						text-transform: uppercase;
						margin-bottom: 2rem;
					}
					.content {
						min-height: 70%;
						display: grid;
						grid-template-columns: repeat(
							auto-fit,
							minmax(min-content, 22rem)
						);
						justify-content: space-around;
						align-content: center;
						gap: 3rem;

						list-style: none;
						padding: 0.8rem 1rem;

						@include abs.mq(xl) {
							grid-template-columns: repeat(2, 1fr);
							padding: 1.4rem;
						}

						&__item {
							display: flex;
							justify-content: center;
							align-items: center;
							color: var(--color-primary-300);
							padding: 1.3rem;
							font-size: 2.3rem;
							border: 2px solid var(--color-secondary-800);
							background-color: var(--color-secondary-900);
							box-shadow: 0 1px 2px 2px rgba(#525762, 0.2);
						}
					}

					&__link:link {
						text-decoration: none;
						color: var(--color-primary-200);
						transition: all 0.4s;

						@include abs.mediaQuery(tab-port) {
							text-decoration: underline;
						}
					}

					&__link:hover {
						letter-spacing: 1px;

						animation-name: borderLtoR;
						animation-duration: 1.5s;
						animation-delay: 300ms;
						animation-direction: alternate;
						animation-iteration-count: infinite;
						animation-timing-function: cubic-bezier(0.2, 0.82, 0.46, 0.43);
					}

					&__link:visited {
						color: var(--color-visited);
					}
				}
			}
		}
	}
}
