@use "../abstract/" as abs;

.main-home-extra-nav {
  display: none;
  grid-row: 2 /3;
  grid-column: 1 / -1;
  ul {
    li {
      list-style-type: none;
      padding: 1.5rem 0;
      @extend .center-me-horizontal;

      &:not(:last-of-type) {
        margin-bottom: 2.9rem;
      }

      .extra-nav-link:link,
      .extra-nav-link:visited {
        display: block;
        width: 100%;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 3.6rem;
        color: abs.$color-white;

        @include abs.mediaQuery(mobile) {
          font-size: 3rem;
        }
        @include abs.mediaQuery(mob-small) {
          font-size: 2.5rem;
        }
      }
    }
  }

  @include abs.mediaQuery(mobile) {
    display: block;
  }
}
