@use "../abstract/extend";
@use "../abstract/bp";

.extra-nav {
  display: none;
  grid-row: 2 /3;
  grid-column: 1 / -1;
  ul {
    li {
      list-style-type: none;

      &:not(:last-of-type) {
        margin-bottom: 2rem;
      }

      .extra-nav-link:link,
      .extra-nav-link:visited {
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-size: 3.6rem;

        @include bp.mediaQuery(mobile) {
          font-size: 3rem;
        }
        @include bp.mediaQuery(mob-small) {
          font-size: 2.5rem;
        }
      }
    }
  }
}
