@use "../abstract/" as abs;
@use "./contentMagic";
@use "./stickyNav.scss";

//////////
///
.mainhome {
	&__main {
		position: relative;

		.navigation {
			display: inline-block;
			position: fixed;
			top: 4rem;
			left: 3rem;
			z-index: 3;
			transition: all 0.5s;
			transform: translateX(-100vw);
			width: 0;
			cursor: pointer;

			@extend %mainhome-nav-list;
		}
	}
}

////////
/// CONTENT PAGE
.content__page--container {
	.sticky__nav--container {
		@extend %sticky-nav__content-page;
	}

	.content__magic {
		@extend %content__magic;
	}

	.contentpage__indexes--container {
		display: grid;
		grid-template-rows: 5rem 1fr;
		grid-row-gap: 3rem;

		nav {
			width: 95vw;
			min-height: 30vh;
			@extend %page-indexes-design;
		}
	}
}
