@use '../abstract/var';
@use '../abstract/bp';

%center-me-full {
	display: flex;
	justify-content: center;
	align-items: center;
}

%center-me-vertical {
	display: flex;
	align-items: center;
}

%center-me-horizontal {
	display: flex;
	justify-items: center;
}

%stickyNav-postList-list {
	li:nth-child(even) {
		border-bottom: 2px solid var(--color-black-replace);
		border-right: 2px solid var(--color-black-replace);
	}
	li:nth-child(odd) {
		border-left: 2px solid var(--color-black-replace);
		border-bottom: 2px solid var(--color-black-replace);
		border-right: 2px solid var(--color-black-replace);
	}
	li:nth-child(1),
	li:nth-child(2) {
		border-top: 2px solid var(--color-black-replace);
	}
}

%postIndexes-list-border {
	a:nth-child(even) {
		border-left: 1px solid var(--color-black-replace);
		border-bottom: 1px solid var(--color-black-replace);
	}
	a:nth-child(odd) {
		border-bottom: 1px solid var(--color-black-replace);
	}
	a:last-of-type {
		border-bottom: none;
	}
	a:nth-last-of-type(2) {
		border-bottom: none;
	}
}

%page-indexes-design {
	ul {
		padding: 0 2rem;

		li {
			transition: all 0.6s;
			animation-name: zoomIn;
			animation-duration: 3s;
			animation-delay: 0.2s;
			border-radius: 0.8rem;
			outline: 2px solid var(--color-secondary-200);

			&:not(:last-child) {
				margin-bottom: 1rem;
			}

			&:hover {
				opacity: 0.6;
				border-radius: 12px 18px 18px 12px;
				height: 100%;
				width: 100%;
			}

			.item-link:link {
				display: block;
				height: 100%;
				width: 100%;
				text-decoration: none;
				text-transform: capitalize;
				font-family: var(--font-tertiary);
				font-weight: 400;
				font-size: 2rem;
				cursor: pointer;
				line-height: 1.2;

				@include bp.mediaQuery(mobile) {
					font-size: 2.5rem;
					font-weight: 400;
				}
			}

			&:hover {
				box-shadow: 0px 0px 0px 0px var(--color-accent);
				transform: scaleY(1.1) scaleX(1.01);
				line-height: 3rem;
				letter-spacing: 0.1rem;
			}
		}

		&:hover li:not(:hover) {
			transform: scale(0.96);
		}
	}
}
