@use 'extend' as ext;
@use 'var';
@use 'utility' as util;
@use 'mixin';
@use 'anim';
@use 'bp';

////////////
/// content-page
.content__page--container {
	main section {
		font-size: 3rem;
		margin-bottom: 15rem;

		@include bp.mq(md) {
			margin-bottom: 10rem;
		}
		@include bp.mq(xs) {
			margin-bottom: 7rem;
		}

		article {
			margin-top: 1.5rem;
			margin-bottom: 15rem;

			@include bp.mq(md) {
				margin-bottom: 10rem;
			}
			@include bp.mq(sm) {
				margin-bottom: 7rem;
			}
		}

		.content__post {
			display: block;
			position: relative;
			color: var(--color-black-replace);
			// padding: 0 3rem;
			padding-left: 4rem;
			line-height: 2.5;
			font-size: 3rem;
			font-family: var(--font-content);
			font-weight: 400;
			word-spacing: 0.5rem;

			@include bp.mq(lg) {
				font-size: 2.4rem;
				line-height: 2;
				padding-right: 30rem;
			}
			@include bp.mq(md) {
				font-size: 2rem;
				padding-right: 15rem;
			}

			@include bp.mq(sm) {
				line-height: 2;
				padding-left: 2rem;
				padding-right: 8rem;
				font-size: 1.7rem;
			}
			@include bp.mq(xs) {
				padding-left: 1rem;
				padding-right: 4rem;
				line-height: 2.2;
			}
			@include bp.mq(xxs) {
				padding: 0 1rem;
			}

			.post__code {
				font-family: var(--font-code);
				font-weight: 600;
				text-transform: lowercase;
				background-color: var(--color-secondary-200);
				@include mixin.border(0, --color-transparent, 4);
				color: var(--color-accent-600);
				padding: 0 0.8rem;
			}
		}
	}
}
