@use "extend" as ext;
@use "var";
@use "utility" as util;
@use "mixin";
@use "anim";
@use "bp";

////////////
/// content-page
.content__page--container {
	main section {
		font-size: 3rem;
		margin-bottom: 15rem;

		@include bp.mq(md) {
			margin-bottom: 10rem;
		}
		@include bp.mq(xs) {
			margin-bottom: 7rem;
		}

		article {
			margin-top: 1.5rem;
			margin-bottom: 15rem;

			@include bp.mq(md) {
				margin-bottom: 10rem;
			}
			@include bp.mq(sm) {
				margin-bottom: 7rem;
			}
		}

		.content__post {
			display: block;
			position: relative;
			color: var(--color-black-replace);
			padding: 0 15vw 0 3vw;
			line-height: 2;
			font-size: 2.7rem;
			font-family: var(--font-content);
			font-weight: 400;
			word-spacing: 0.5rem;
			max-width: 75ch;
			word-wrap: break-word;

			@include bp.mq(md) {
				padding: 0 0.8em;
			}

			.post__code {
				font-family: var(--font-code);
				font-weight: 600;
				background-color: var(--color-secondary-200);
				@include mixin.border(0, --color-transparent, 4);
				color: var(--color-accent-900);
				padding: 0 0.8rem;
				white-space: nowrap;
			}
		}
	}

	.contentpage__indexes--container {
		h4 {
			font-family: var(--font-secondary);
			font-weight: 700;
			font-size: 3rem;
			padding: 1.5rem 0;
			margin-bottom: 3rem;
			text-transform: uppercase;
			word-spacing: 2.5;
			background-color: var(--color-secondary-200);
			@extend %center-me-full;

			@include bp.mq(md) {
				word-spacing: 1;
				font-size: 2rem;
			}

			@include bp.mq(sm) {
				font-size: 1.4rem;
			}
		}
	}
}
