@use "extend" as ext;
@use "var" as var;
@use "utility" as util;
@use "mixin";
@use "anim";

////////////
/// content-page
.content-page-container {
  main {
    section {
      font-size: 3rem;

      header {
        text-transform: uppercase;
        padding: 2.5rem 0;
        margin: 3rem 0;
        background-color: var.$color-secondary-light;
        transition: transform .7s ease-in-out;
        @extend .center-me-full;
        animation-name: slideToLeft;
        animation-duration: 4s;
        animation-delay: .1s;

        // &:hover {
        //   animation-name: flip;
        //   animation-duration: 6s;
        //   animation-delay: .2s;
        // }

        span {
          font-family: var.$secondary;
          font-weight: 700;
          letter-spacing: 0.6rem;
          position: relative;
          z-index: 10;

          &::before {
            content: "";
            background-image: linear-gradient(to top left, var.$color-primary, var.$color-secondary);
            position: absolute;
            top: -2rem;
            width: 100%;
            padding-bottom: 8.4rem;
            z-index: -1;
            box-shadow: 0 3px 4px var.$color-transparent-high;
          }
        }
      }

      .content-area {
        margin-top: 1.5rem;
        text-transform: lowercase;
        padding: 1.5rem;
        margin-left: 2rem;
        border: 1px solid var.$color-accent;

        &:not(:first-of-type) {
          border-top: 1px solid var.$color-accent;
          // padding: 4rem 0.6rem;
        }

        .content-header {
          font-family: var.$tertiary;
          font-weight: 600;
          clip-path: polygon(5.14% 0px, 100% 0%, 96.46% 96.32%, 1.88% 100%);
          padding: 1rem 5rem;
          letter-spacing: 3px;
          margin: 1rem 0 2.2rem 0;
          display: inline-block;
          -webkit-background-clip: text;
          background-clip: text;
          background-image: linear-gradient(to right bottom, var.$color-primary, var.$color-accent);
          color: transparent;
          // outline-offset: 1.9rem;

        }
      }

      .code-explain {
        padding: 0rem 5rem 1rem 5rem;
        margin-top: 3rem;
        text-transform: capitalize;
        line-height: 9rem;
        display: block;
        position: relative;
        font-size: 3.2rem;
        font-family: var.$content;
        font-weight: 400;
        letter-spacing: .2rem;
        word-spacing: .5rem;

        &-header {
          font-family: var.$tertiary;
          font-weight: 600;
          background-image: linear-gradient(to right bottom, var.$color-primary, var.$color-secondary);
          color: var.$color-accent;
          padding: .8rem 1.9rem;
          text-transform: lowercase;
          clip-path: polygon(3% 0, 100% 0%, 96% 100%, 0% 100%);
        }

        &--code {
          font-family: var.$code;
          font-weight: 600;
          text-transform: lowercase;
          background-color: var.$color-secondary-light;
          outline: 1px solid var.$color-secondary;
          box-shadow: 2px 2px 3px var.$color-transparent-mid;
          outline-offset: 1px;
          border-radius: 4px;
          color: var.$color-accent;
          padding: 0 0.8rem;
        }

        &-sub-section {
          display: block;
          margin-top: 1.6rem;
        }

        .list-wrap {
          display: block;

          &:not(:last-child) {
            margin-bottom: 4rem;
          }

          svg {
            height: 1rem;
            width: 1rem;
            fill: var.$color-accent;
          }

          .list {
            padding-left: 2rem;
          }
        }
      }
    }
  }
}
