@use "var";

.util-split-top {
  border-top: 1px solid var.$color-secondary !important;
  padding: 4rem 0.6rem !important;
}

.util-split-bottom {
  border-bottom: 1px solid var.$color-secondary !important;
  padding: 4rem 0.6rem !important;
  margin: 3rem 0 !important;
}

.util-center {
  display: block !important;
  text-align: center !important;
}

.util-margin-top {
  margin-top: 5rem !important;
}

.util-margin-top-negative-small {
  margin-top: -2rem;
}

.util-margin-bottom {
  margin-bottom: 5rem !important;
}

.util-padding-top {
  padding-top: 5rem !important;
}

.util-padding-bottom {
  padding-bottom: 5rem !important;
}

.util-border-bottom-double {
  border-bottom: 3px double var.$color-accent !important;
}

.util-opacity-low {
  opacity: .8 !important;
}

.util-opacity-mid {
  opacity: .6 !important;
}

.util-opacity-high {
  opacity: .4 !important;
}

.util-caplock {
  text-transform: uppercase !important;
}

.util-bold {
  font-weight: 600;
}

.util-underline {
  text-decoration: underline;
  text-decoration-color: var.$color-transparent-mid;
  text-underline-offset: .7rem;
}

.util-flex-x {
  display: flex;
  justify-content: center;
}

.util-flex-y {
  display: flex;
  align-items: center;
}
