////////////
// LINE SPLITTER [CONTENT-DIVIDER]
.split-top {
  border-top: 1px solid gray;
  padding: 4rem 0.6rem;
}

.split-bottom {
  border-top: 1px solid gray;
  padding: 4rem 0.6rem;
}
