// font-family
$primary : 'Phudu',
serif; //300, 400
$secondary: 'Hahmlet', serif; //500, 700

$tertiary : 'Oxanium',
cursive; // 400, 600

$content : 'Exo 2',
sans-serif; //200, 400, 600, 900

$code : 'Source Code Pro',
monospace; //600

$general : 'Pathway Extreme',
sans-serif; //200, 400, 600

//////////
/// media query break point
$bp-largest: 112.5em; //1800px +  [big-desk]
$bp-large: 75em; //1200px  [tab-land]
$bp-medium: 56.25em; //900px  [tab-port]
$bp-small: 37.5em; //600px  [mobile]
$bp-small-extra: 25em; //400px  [mobile-small]
