// font-family
$primary: "Phudu", serif; //300, 400 600
$secondary: "Hahmlet", serif; //500, 700
$tertiary: "Oxanium", sans-serif; // 400, 500, 600
$content: "Exo 2", sans-serif; //200, 400, 600, 900
$code: "Source Code Pro", monospace; //600
$general: "Pathway Extreme", sans-serif; //200, 400, 600

////////////
/// colors;
$color-primary: #ffffff;
$color-primary-dark: #e4e2e2;
$color-secondary: #808080;
$color-secondary-light: #c2c2c2;
$color-secondary-light-transparent-high: #c2c2c23f;
$color-secondary-dark: #464444;
$color-accent: #000000;
$color-accent-light: #3d3d3d;
$color-transparent-high: #00000033;
$color-transparent-mid: #00000066;
$color-transparent-low: #00000099;
$color-visited: #008000;

//////////
/// media query break point
$bp-largest: 112.5em; //1800px +  [big-desk]
$bp-large: 75em; //1200px  [tab-land]  count to -> 901px
$bp-medium: 56.25em; //900px  [tab-port] count to -> 601px
$bp-small: 37.5em; //600px  [mobile]  count to -> 401px
$bp-small-extra: 25em; //400px  [mobile-small]   count to -> 320px
