:root {
	--font-primary: "Cardo", serif;
	--font-secondary: "Merriweather", sans-serif;
	--font-tertiary: "Work Sans", sans-serif;
	--font-content: "Arimo", sans-serif;
	--font-link: "Tinos", serif;
	--font-content-link: "Work Sans", sans-serif;
	--font-list: "Open Sans", sans-serif;
	--font-code: "Consolas", monospace;
	--font-general: "Montserrat", sans-serif;

	// NEUTRAL
	--color-primary-50: #fafafa;
	--color-primary-100: #f5f5f5;
	--color-primary-200: #e5e5e5;
	--color-primary-300: #d4d4d4;
	--color-primary-400: #a3a3a3;
	--color-primary-500: #737373;
	--color-primary-600: #525252;

	// GRAY
	--color-secondary-50: #f9fafb;
	--color-secondary-100: #f3f4f6;
	--color-secondary-200: #e5e7eb;
	--color-secondary-300: #d1d5db;
	--color-secondary-400: #9ca3af;
	--color-secondary-500: #6b7280;
	--color-secondary-600: #4b5563;
	--color-secondary-700: #374151;
	--color-secondary-800: #1f2937;
	--color-secondary-900: #111827;
	--color-secondary-950: #030712;

	//STONE
	--color-accent-300: #d6d3d1;
	--color-accent-400: #a8a29e;
	--color-accent-500: #78716c;
	--color-accent-600: #57534e;
	--color-accent-700: #44403c;
	--color-accent-800: #292524;
	--color-accent-900: #1c1917;
	--color-acent-950: #0c0a09;

	// FIXED COLOR
	--color-black: #000000;
	--color-white: #fff;
	--color-red: red;
	--color-transparent: transparent;
	--color-green: green;
	--color-blue: blue;

	--color-visited: #b91c1c;

	--color-black-replace: #000;

	--color-overlay: #b9b9b9;

	///////////////////
	// DARK MODE COLOR
	///////////////////
	// PRIMARY => (CYAN)
	// secondary => (sky)
	// ACCENT => (violet)
	// visited => #f97316;
}
/// media query break point
$bp-largest: 112.5em; //1800px +  [big-desk]
$bp-large: 75em; //1200px  [tab-land]  count to -> 901px
$bp-medium: 56.25em; //900px  [tab-port] count to -> 601px
$bp-small: 37.5em; //600px  [mobile]  count to -> 401px
$bp-small-extra: 25em; //400px  [mobile-small]   count to -> 320px

// $xxl: 120em; //extra extra large device
$xl: 71.875em; // extra large device
$lg: 56.875em; //large device
$md: 41.875em; //medium device
$sm: 27.5em; // small device
$xs: 18.4375em; // extra small device
$xxs: 1.375em; //extra extra small device
