// first PAGE
@use '../abstract/' as abs;
@use '../base/reset';
@use '../component/' as compo;

.mainhome {
	display: grid;
	grid-template-rows: 100vh 1fr;
	gap: 6rem;

	position: relative;

	@include abs.mediaQuery(tab-port) {
		grid-template-rows: 100vh 1fr;
	}

	&__main {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
		position: relative;
		padding-bottom: 10rem;

		&::before {
			// content: '';
			background-image: url('../../asset/gif/mainHomeResourceBackground.gif');
			background-repeat: repeat;
			background-position: center;
			background-size: cover;
			height: 122%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			margin-top: -18rem;
			// margin-top: -24rem;
			// clip-path: polygon(0 6.2%, 100% 2.8%, 100% 100%, 0 100%);

			// @include abs.mediaQuery(tab-land) {
			// 	margin-top: -25rem;
			// }
			@include abs.mediaQuery(tab-port) {
				margin-top: -22rem;
			}
			@include abs.mediaQuery(mobile) {
				margin-top: -45rem;
			}
			@include abs.mediaQuery(mob-small) {
				margin-top: -66rem;
			}
		}

		@include abs.mediaQuery(tab-port) {
			grid-template-columns: 1fr;
			gap: 5rem;
		}

		.mainhome__section {
			z-index: 2;
			// margin-top: 20rem;
		}
	}
}
