// ALL CSS CONTENT PAGE DESIGN TABLE
@use "../abstract/" as abs;
@use "../base/" as base;
@use "../component/" as comp;

// CONTENT-PAGE POST-INDEXES
.posts {
	justify-self: center;
	align-self: center;

	width: 96vw;
	max-width: 100vw;
	height: 100%;

	/////////////////
	/// GENERAL
	////////////////
	@extend %post-index-content-page--general;

	//////////////
	// CSS --01
	/////////////
	#css__post--1 {
		width: 90vw;

		display: grid;
		grid-template-columns: repeat(5, 1fr);
		justify-content: space-around;
		padding: 0;
		margin: 0 auto;

		@include abs.mq(lg) {
			width: 98vw;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(3, 1fr);
		}

		.post {
			&__item:link,
			&__item:visited {
				padding: 0.3rem 1rem;
			}

			&:nth-child(2) {
				@include abs.mq(lg) {
					grid-row: 1 / -1;
				}
			}
			&:nth-child(3) {
				@include abs.mq(lg) {
					grid-row: 1 / -1;
				}
			}
			&:nth-child(4) {
				@include abs.mq(lg) {
					grid-row: 3 / 4;
					grid-column: 1 / 2;
				}
			}
			&:nth-child(5) {
				@include abs.mq(lg) {
					grid-column: 1 / 2;
					grid-row: 2 / 3;
				}
			}
		}
	}

	//////////////////
	/// GIT --1
	////////////////
	#git__post--1 {
		grid-template-columns: repeat(auto-fit, minmax(max-content, 23rem));
	}

	////////////
	/// GIT --2
	/////////////
	#git__post--2 {
		grid-template-columns: repeat(auto-fit, minmax(max-content, 30rem));
	}

	///////////////
	/// js -1
	/////////////
	#js__post--1 {
		grid-template-columns: repeat(auto-fit, minmax(max-content, 40rem));
	}

	////////////
	/// ACCOUNT INFORMATION
	////////////
	#account__information {
		@include abs.mq(sm) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
