// ALL CSS CONTENT PAGE DESIGN TABLE
@use "../abstract/" as abs;
@use "../base/" as base;

// CONTENT-PAGE POST-INDEXES
.posts {
	justify-self: center;
	align-self: center;

	width: 96vw;
	max-width: 100vw;
	height: 100%;

	/////////////////
	/// GENERAL
	////////////////
	ul {
		width: 90%;
		height: 100%;

		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(max-content, 25rem));
		justify-content: space-around;
		align-content: center;
		align-items: center;
		justify-items: center;
		gap: 2rem;

		margin: 0 auto;
		list-style: none;
		padding: 2.7rem;
		background-color: var(--color-primary-200);
		border: 1px solid black;
		border-radius: 0.5rem;
		background-color: var(--color-primary-50);

		.post {
			text-align: center;
			width: 80%;
			&__item:link,
			&__item:visited {
				display: block;
				color: var(--color-accent-900);
				text-decoration: none;
				font-family: var(--font-tertiary);
				font-size: 1.4rem;
				font-weight: 600;
				transition: all 0.6s;
				padding: 0 2rem 0.5rem 1rem;
				background-color: var(--color-secondary-300);

				&:not(:last-child) {
					margin-bottom: 0.5rem;
				}

				@include abs.mq(sm) {
					font-size: 1rem;
				}
				@include abs.mq(xs) {
					font-size: 0.8rem;
				}

				&:first-child,
				&:last-child {
					padding: 1rem 2rem;
				}
			}

			&__item:hover {
				color: var(--color-accent-400);
				background-color: var(--color-secondary-600);
				text-transform: uppercase;
				padding-left: 1rem;
			}
		}
	}

	//////////////
	// CSS --01
	/////////////
	#css__post--1 {
		width: 90vw;

		display: grid;
		grid-template-columns: repeat(5, 1fr);
		justify-content: space-around;
		padding: 0;
		margin: 0 auto;

		@include abs.mq(lg) {
			width: 98vw;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(3, 1fr);
		}

		.post {
			&__item:link,
			&__item:visited {
				padding: 0.3rem 1rem;
			}

			&:nth-child(2) {
				@include abs.mq(lg) {
					grid-row: 1 / -1;
				}
			}
			&:nth-child(3) {
				@include abs.mq(lg) {
					grid-row: 1 / -1;
				}
			}
			&:nth-child(4) {
				@include abs.mq(lg) {
					grid-row: 3 / 4;
					grid-column: 1 / 2;
				}
			}
			&:nth-child(5) {
				@include abs.mq(lg) {
					grid-column: 1 / 2;
					grid-row: 2 / 3;
				}
			}
		}
	}

	//////////////////
	/// GIT --1
	////////////////
	#git__post--1 {
		grid-template-columns: repeat(auto-fit, minmax(max-content, 23rem));
	}

	////////////
	/// GIT --2
	/////////////
	#git__post--2 {
		grid-template-columns: repeat(auto-fit, minmax(max-content, 30rem));
	}

	///////////////
	/// js -1
	/////////////
	#js__post--1 {
		grid-template-columns: repeat(auto-fit, minmax(max-content, 40rem));
	}

	////////////
	/// ACCOUNT INFORMATION
	////////////
	#account__information {
		@include abs.mq(sm) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
