// CONTENT PAGE
@use "../abstract/" as abs;
@use "../base/reset";

.content-page-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh minmax(100vh, 1fr);
  position: relative;

  main {
    section {
      header {
        @include abs.mediaQuery(mobile) {
          border: 1px solid abs.$color-accent;
        }

        span {

          @include abs.mediaQuery(mobile) {
            letter-spacing: 0;
          }

        }
      }

      .content-area {
        .content-header {
          @include abs.mediaQuery(mobile) {
            letter-spacing: 0;
            padding: 1rem 2.8rem;
          }
        }
      }

      .code-explain {

        @include abs.mediaQuery(tab-port) {
          padding: .8rem;
        }

        //  &::after {
        //   content: "code-explain";
        //   text-transform: uppercase;
        //   margin-top: -5rem;
        //   font-size: 1.9rem;
        //   padding: 0 2rem;
        //   transform: scale(0.6) translateX(4rem);
        //   position: absolute;
        //   top: 0;
        //   right: 0;
        //   background-color: gray;
        //   color: black;

        //   @include abs.mediaQuery(tab-port){
        //     display: none;
        //   }
        // }
      }
    }
  }
}
