// first PAGE
@use '../abstract/' as abs;
@use '../base/reset';
@use '../component/' as compo;

.main-home__container {
	display: grid;
	grid-template-rows: 15rem 1fr;
	gap: 6rem;

	@include abs.mediaQuery(tab-port) {
		grid-template-rows: 17rem calc(100vh - 28rem) min-content 1fr;
	}
	@include abs.mediaQuery(mobile) {
		grid-template-rows: 15rem calc(100vh - 25rem) min-content 1fr;
	}

	.main-home-resource__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;

		@include abs.mediaQuery(tab-port) {
			grid-template-columns: 1fr;
			gap: 5rem;
		}
	}
}
