// MAIN PAGE
@use "../abstract/" as abs;
@use "../base/reset";
@use "../component/" as compo;

.main-home-container {
  display: grid;
  grid-template-rows: 15rem 1fr;
  gap: 6rem;

  @include abs.mediaQuery(tab-port) {
    grid-template-rows: 9rem min-content 1fr;
  }
  @include abs.mediaQuery(tab-port) {
    .extra-nav {
      display: block;
    }
  }

  .main-home-resource-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    @include abs.mediaQuery(tab-port) {
      grid-template-columns: 1fr;
      gap: 5rem;
    }

    .main-home-resource {
      ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, max-content));
        grid-template-rows: repeat(auto-fit, minmax(10rem, min-content));
        // grid-auto-rows: minmax(100%, min-content);
        gap: 1.3rem;

        @include abs.mediaQuery(tab-land) {
          grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
        }

        @include abs.mediaQuery(tab-port) {
          grid-template-columns: repeat(2, 1fr);
        }

        @include abs.mediaQuery(mobile) {
          grid-template-columns: 1fr;
          grid-row-gap: 3rem;
        }

        li {
          list-style-type: none;
          padding: 0.9rem;
          a {
            @extend .center-me-vertical;
          }
        }
      }
    }
  }
}
