@use "../abstract/" as abs;
@use "../base/reset";
@use "../component/" as compo;

.page-content-container {
  display: grid;
  grid-template-rows: minmax(100vh, 1fr);
  main {
  }
  nav {
    ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, max-content));
      grid-template-rows: repeat(auto-fit, minmax(10rem, min-content));
      grid-auto-rows: minmax(100%, min-content);
      gap: 1.3rem;

      @include abs.mediaQuery(tab-land) {
        grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
      }

      @include abs.mediaQuery(tab-port) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include abs.mediaQuery(mobile) {
        grid-template-columns: 1fr;
        grid-row-gap: 3rem;
      }

      li {
        list-style-type: none;
        padding: 0.9rem;
      }
    }
  }
}
